{% extends 'base_reservation.twig' %}

{% block sections %}
    <div class="page-header header-filter" data-parallax="true"
         style="background-image: url({{ asset('images/institucional/mix_auditorio.jpg') }})">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
{% endblock %}