{% extends 'base_admin_board.html.twig' %}

{% block title %}Edición MetaBase{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">

                <h4 class="card-title ">Metabase</h4>
                <p class="card-category"> Edición </p>
            </div>
            <div class="card-body">

                {{ include('meta_base/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>


            <a href="{{ path('meta_base_index') }}">
                {{ include('bases/_volver.html.twig') }}
            </a>
        </div>

        {{ include('meta_base/_delete_form.html.twig') }}
    </div>
{% endblock %}
