{% extends 'base_admin_board.html.twig' %}

{% block title %}Metabase ingreso{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">

                <h4 class="card-title ">Metabase</h4>
                <p class="card-category"> Ingreso de datos </p>
            </div>
            <div class="card-body">

                {{ include('meta_base/_form.html.twig', {'button_label':'Grabar'}) }}
            </div>
        </div>
        <div class="card-footer">
            <a href="#"></a>

            <a href="{{ path('meta_base_index') }}">
                {{ include('bases/_volver.html.twig') }}
            </a>
        </div>
    </div>
{% endblock %}
