node_modules
**/.idea/workspace.xml
.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public_html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public_html/build/
npm-debug.log
yarn-error.log
/src/Migrations/
/assets/fonts/univers/
/assets/css/foundation-icons/.DS_Store


###> liip/imagine-bundle ###
/public_html/media/cache/
###< liip/imagine-bundle ###
/public_html/vendors/tilt/.babelrc
/public_html/vendors/tilt/.jshintrc
/public_html/vendors/tilt/.travis.yml
/assets/images/series/no-temere/01-No-Temere.pdf
/assets/images/series/no-temere/02-Encerrados.pdf
/assets/images/series/no-temere/03-Realidad-Aumentada.pdf
/public_html/vendors/bootstrap/
/public_html/include/scss/
/src/DataFixtures/images/01-Ante-lo-inesperado.jpg
/src/DataFixtures/images/02-Indomita.jpg
/src/DataFixtures/images/03-Rescate-en-las-llamas.jpg
/public_html/vendors/
/assets/images/
/assets/fonts/
/public_html/js/
/.php_cs.cache
/public_html/stream-ui-kit/
/public_html/business-casual/
/public_html/material-kit/
/public_html/shards-ui/
/public_html/media/cache
/migrations/Version20200617115938.php

/public_html/vendors/tilt/
/public_html/css/stream-ui-kit/assets/vendors/
/public_html/fonts/awasome/
/public_html/fonts/druk/
/public_html/fonts/univers/
/public_html/css/stream-ui-kit/assets/img/
/public_html/css/stream-ui-kit/assets/img-temp/
/public_html/css/stream-ui-kit/assets/include/
/public_html/fonts/UniversLTStd-Obl.otf
/public_html/fonts/Joyful Story.otf
/public_html/fonts/Tuesnight.otf
/public_html/fonts/onlinefontconverter.com.zip
/public_html/fonts/Hoverage.otf
/public_html/fonts/WarnockPro-ItSubh.otf
/public_html/images/imagen-auditorio.jpg
/public_html/images/imagen-auditorio-noche.jpg
/public_html/images/logoYoutubeBrown.png
/public_html/images/a2-fdoBlanco-ltrNaranja.jpg
/public_html/images/imgMenu.png
/public_html/images/qr-online.png
/public_html/fonts/big_noodle_titling.ttf
/public_html/fonts/GreatLakesNF.ttf
/public_html/fonts/Black Diamond.otf
/public_html/fonts/Matahati Regular.otf
/public_html/css/stream-ui-kit/assets/js/vendors/
/public_html/css/stream-ui-kit/starter-template.html
/public_html/images/a2-fdoNegro-ltrBlanca.jpg
/public_html/images/iglesiaAlamedaInstagram.jpg
/public_html/images/logo-oracion.png
/public_html/material-dashboard/examples/
/public_html/material-dashboard/assets/demo/
/public_html/material-dashboard/template.html
/public_html/images/sidebar-1.jpg

/public_html/material-dashboard/assets/demo/demo.css
/public_html/material-dashboard/assets/demo/demo.js

/public_html/images/pastores/abel-schwab.jpeg
/public_html/images/pastores/abel-schwab.png
/public_html/images/institucional/adolescentes.jpg
/public_html/images/dar-online.jpg
/public_html/images/pastores/fabianRuiz.png
/public_html/icons/foundation-icons/svgs/
/docker/
/docker-compose.yml
/Makefile
.env.local
/public_html/fonts/ArialNova.ttf
/public_html/images/institucional/qr-dom-11h.jpg
/public_html/images/institucional/qr-dom-11h.png
/public_html/images/institucional/qr-dom-20h.jpg
/public_html/images/institucional/qr-dom-20h.png
/public_html/images/institucional/qr-sab-20h.jpg
/public_html/images/institucional/qr-sab-20h.png
/public_html/images/institucional/indice.png
/public_html/uploads/media/
/public_html/images/LOGO_ALAMEDA_CON_TEXTO_B.png
/public_html/images/institucional/qr-dom-10hs.jpg
/public_html/images/institucional/qr-dom-21hs.jpg
/public_html/images/institucional/qr-sab-21hs.jpg
