<ul class="nav">
    {% if (is_granted("ROLE_ADMIN_RESERVA")) %}
        <li id="index" class="nav-item">
            <a class="nav-link" href="{{ path('meta_base_index') }}">
                <i class="material-icons">home_work</i>
                <p>Ver Metabase</p>
            </a>
        </li>
        <li id="celebracion" class="nav-item">
            <a class="nav-link" href="{{ path('celebracion_index') }}">
                <i class="material-icons">today</i>
                <p>Ver Celebraciones</p>
            </a>
        </li>
        <li id="celebracion" class="nav-item">
            <a class="nav-link" href="{{ path('admin_panel') }}">
                <i class="material-icons"> admin_panel_settings </i>
                <p>Panel General</p>
            </a>
        </li>
    {% endif %}
</ul>

