{% extends 'base.html.twig' %}

{% block title %}New InstallationSteps{% endblock %}

{% block body %}
    <h1>Create new InstallationSteps</h1>

    {{ include('installation_steps/_form.html.twig') }}

    <a href="{{ path('installation_steps_index') }}">back to list</a>
{% endblock %}
